.container {
  display: flex;
  margin: 0 auto;
}

.aside {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
}

.main {
  flex-basis: 75%;
  height: 100vh;
  top: 0;
  position: sticky;
}